/*navigation bar*/
ul
{
  list-style-type: none;
  margin: 1.5rem;
  padding: 1rem 2rem;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  gap: 4rem;
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
  border-radius: 3rem;
  width: fit-content;
  z-index: 1000;
}

li a 
{
font-size: 1.6rem;
  text-decoration: none;
  color: rgb(26, 48, 78);
  font-family: garamond, serif;
  font-weight: bold;
  padding: .6rem .9rem;
  border-radius: 2rem;
  transition: background-color .5s;
}

li a:hover 
{
  background-color: rgb(26, 48, 78);
  border-radius: 2rem;
  color:rgb(255, 255, 255)
}

.platypus
{
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
    width: 12.5rem;
    z-index: 9999;
    pointer-events: none;
}

/*animation*/
.text {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  animation: 
    typing 5s steps(79, end) forwards;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/*background adjustments*/
html 
{
    background-image: url('https://i.pinimg.com/736x/1d/69/a1/1d69a1f0935db53a3c10dd9f0491aa94.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position-y: -3.5px;
    margin: 0;
    padding: 0;
}

body::before 
{
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    pointer-events: none;
    z-index: -1;
}

/*content*/
.content {
    text-align: left;
    width: 85.75rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    margin: 3rem;
    margin-top: 9rem;
    background-color: rgba(26, 48, 78, .75);
    position: relative;
    z-index: 1;
    padding: 1.25rem;
    border-radius: 1rem;
}

.content h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;                         
}

h4
{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
  text-align: center;
}

.copyright {
  text-align: center;
}