ul
{
  list-style-type: none;
  margin: 1.5rem;
  padding: 1rem 2rem;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  gap: 4rem;
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
  border-radius: 3rem;
  width: fit-content;
  z-index: 1000;
}

li a 
{
font-size: 1.6rem;
  text-decoration: none;
  color: rgb(26, 48, 78);
  font-family: garamond, serif;
  font-weight: bold;
  padding: .6rem .9rem;
  border-radius: 2rem;
  transition: background-color .5s;
}

li a:hover 
{
  background-color: rgb(26, 48, 78);
  border-radius: 2rem;
  color:rgb(255, 255, 255)
}

html 
{
    background-image: url('https://static.wikia.nocookie.net/kamono-hashiguchi-no-kindan-suiri/images/3/3d/Ep9_M._Family_headquarters.png/revision/latest/scale-to-width-down/1000?cb=20231128170849');
    background-size: cover; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
}

.container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.maggie, .geanne {
    overflow: auto;
    gap: 1.25rem;
    padding: 1.25rem;
    background-color: rgb(100, 147, 208);
    border-radius: .938rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(26, 48, 78);
    font-size: 1.25rem;
    margin-top: 10rem;
    margin-left: 1rem;
    box-shadow: 0 0 1.25rem rgba(29, 53, 78, 0.9);
}

.maggie:hover, .geanne:hover {
    background-color: #1a304e;
    color:rgb(100, 147, 208);
    box-shadow: 0 0 1.25rem rgba(255, 255, 255, 0.9);
}

.name {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-left: 1.875rem;
    margin-right: .625rem;
}

.info {
    clear: left;
    margin-top: .625rem;
}

.platypus
{
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    max-width: 12.5%;
    z-index: 999;
}

h4
{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(26, 48, 78);
  font-size: 0.875rem;
  text-align: center;
  margin-top: 10rem;
}

.funfacts-img
{
    width: 12rem;
    height: auto;
    border-radius: .625rem;
    margin-top: .625rem;
}

.copyright {
  text-align: center;
}

.container > * 
{
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn 
{
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}