.signup{
    font-family: garamond, serif;
    text-align:center;
    box-shadow: 0px 0px 10px;
    border-radius:10px;
    width:40%;
    background-color:beige;
    padding:2rem 2rem;
    margin: 6rem auto;
}
body{
    background-color:rgb(25, 22, 58);
}
h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: clamp(0.75rem, 2vw, 0.875rem);
    text-align: center;
}
button{
    font-family: garamond, serif;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #8b6f47;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    cursor: pointer;
}
button:hover{
    color:black;
    background-color:white;
}
