#greetings {
    font-family: 'Courier New', Courier, monospace;
}
h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: clamp(0.75rem, 2vw, 0.875rem);
    text-align: center;
}
button{
    font-family: garamond, serif;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #8b6f47;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    cursor: pointer;
    margin:0 auto;
    display:block;
}
.account{
    color:white;
    background-color:rgb(42, 47, 142);
    box-shadow: 0px 0px 10px;
    border-radius:10px;
    width:80%;
    padding:2rem 2rem;
    margin: 5rem auto;
}
body{
    background-image:url('');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
