ul
{
  list-style-type: none;
  margin: 17px;
  padding: 15px 30px;
  background-color: #1a304e;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  position: fixed;
  top: 20px;
  left: 20px;
  border-radius: 50px;
  width: fit-content;
}

li a 
{
font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: garamond, serif;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 30px;
  transition: background-color .5s;
}

li a:hover 
{
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  color:rgb(26, 48, 78)
}

html 
{
    background-image: url(https://i.pinimg.com/1200x/57/e6/5d/57e65df012fcc791ef1dfb5a2214b77b.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position-y: -430px;
    margin: 0;
    padding: 0;
}

html::before 
{
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    z-index: -1;
}

.content {
    margin: 40px;
    margin-top: 120px;
    position: relative;
    z-index: 1;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    flex-direction: row;
    display: flex;
    gap: 20px;
}

.casefile-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.abouttheseries, .abouttheauthor, .characters
{
    font-size: 12.5px;
    margin-bottom: 0px;
    color:#ffffff;
    padding: 10px;
    border-radius: 10px;
    width: 450px;
}

.abouttheseries
{
    background-color: rgba(13, 62, 128, .75)
}

.abouttheauthor
{
    background-color: rgba(88, 148, 229, .75)
}

.characters {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12.5px;
    text-align: center; 
    margin-left: 60px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(47, 58, 99, 0.75);
    width: 89%;
    display: block;
}


.content h1 {
    font-family:'Courier New', Courier, monospace;
    color: #ffffff;
    text-align: center;                         
}
