ul
{
  list-style-type: none;
  margin: 17px;
  padding: 15px 30px;
  background-color: #1a304e;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  position: fixed;
  top: 20px;
  left: 20px;
  border-radius: 50px;
  width: fit-content;
}

li a 
{
font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: garamond, serif;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 30px;
  transition: background-color .5s;
}

li a:hover 
{
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  color:rgb(26, 48, 78)
}

html 
{
    background-image: url(https://i.pinimg.com/1200x/57/e6/5d/57e65df012fcc791ef1dfb5a2214b77b.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position-y: -430px;
    margin: 0;
    padding: 0;
}

html::before 
{
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.57);
    pointer-events: none;
    z-index: -1;
}

.content {
    margin: 40px;
    margin-top: 150px;
    position: relative;
    z-index: 1;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    flex-direction: row;
    display: flex;
    gap: 20px;
}

.casefile-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.abouttheseries, .abouttheauthor, .characters
{
    font-size: 12.5px;
    margin-bottom: 0px;
    color:#ffffff;
    padding: 10px;
    border-radius: 10px;
    width: 800px;
}

.abouttheseries
{
    background-color: rgba(13, 62, 128, .75);
    text-align: left;
}

.abouttheauthor
{
    background-color: rgba(88, 148, 229, .75);
    text-align: right;
}

.char1{
    align-items:left;
    width:20%;
    left:20px;
}
.char2{
    width:20%;
}
.char3{
    width:20%;
    right:20px;
}
.char4{
    width:20%;
    left:95px;
}
.char5{
    width:20%;
    
}

.characters {
    font-family: 'Courier New', Courier, monospace;
    font-size: 12.5px;
    text-align: center; 
    margin-left: 60px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(47, 58, 99, 0.75);
    width: 89%;
    display: block;
}


.content h1 {
    font-family:'Courier New', Courier, monospace;
    color: #ffffff;
    text-align: center;                         
}

.platypus
{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    z-index: 999;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    text-align: justify;
    margin: 20px;
}

.char1, .char2, .char3, .char4, .char5 {
    margin: 20px;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size:15px;
    color:#ffffff
}

.charfr {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.char-img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}