ul
{
  list-style-type: none;
  margin: 1rem;
  padding: 1rem 2rem;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  gap: 1.25rem;
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
  border-radius: 3rem;
  width: fit-content;
  z-index: 1000;
}

li a 
{
font-size: 1.6rem;
  text-decoration: none;
  color: rgb(26, 48, 78);
  font-family: garamond, serif;
  font-weight: bold;
  padding: .3rem .6rem;
  border-radius: 2rem;
  transition: background-color .5s;
}

li a:hover 
{
  background-color: rgb(26, 48, 78);
  border-radius: 2rem;
  color:rgb(255, 255, 255)
}

html 
{
    background-image: url(https://i.pinimg.com/1200x/57/e6/5d/57e65df012fcc791ef1dfb5a2214b77b.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position-y: -26.875rem;
    margin: 0;
    padding: 0;
}

html::before 
{
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
    pointer-events: none;
    z-index: -1;
}

.content {
    margin: 2.5rem;
    margin-top: 9.375rem;
    position: relative;
    z-index: 1;
    padding: 1.25rem;
    border-radius: .938rem;
    flex-direction: row;
    display: flex;
    gap: 1.25rem;
}

.casefile-image {
    width: 100%;
    height: auto;
    border-radius: .625rem;
    margin-bottom: .625rem;
}

.abouttheseries, .abouttheauthor, .characters
{
    font-size: .781rem;
    margin-bottom: 0;
    color:#ffffff;
    padding: .625rem;
    border-radius: .625rem;
    width: 50rem;
}

.abouttheseries
{
    background-color: rgba(13, 62, 128, .75);
    text-align: left;
}

.abouttheauthor
{
    background-color: rgba(88, 148, 229, .75);
    text-align: right;
}

.char1{
    align-items:left;
    width:20%;
    left:20px;
}
.char2{
    width:20%;
}
.char3{
    width:20%;
    right:20px;
}
.char4{
    width:20%;
    left:95px;
}
.char5{
    width:20%;
    
}

.characters {
    font-family: 'Courier New', Courier, monospace;
    font-size: .781rem;
    text-align: center; 
    margin-left: 3.75rem;
    padding: 1.25rem;
    border-radius: .938rem;
    background-color: rgba(47, 58, 99, 0.75);
    width: 89%;
    display: block;
}


.content h1 {
    font-family:'Courier New', Courier, monospace;
    color: #ffffff;
    text-align: center;                         
}

.platypus
{
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    width: 12.5rem;
    z-index: 999;
}


h2 {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    text-align: justify;
    margin: 1.25rem;
}

.char1, .char2, .char3, .char4, .char5 {
    margin: 1.25rem;
    padding: .938rem;
    background-color: rgb(0, 0, 0);
    border-radius: .625rem;
    font-size:.938rem;
    color:#ffffff
}

.charfr {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.char-img {
    width: 9.375rem;
    height: auto;
    border-radius: .625rem;
    margin-top: .625rem;
}

h4
{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  font-size: 0.875rem;
  text-align: center;
}