ul
{
  list-style-type: none;
  margin: 17px;
  padding: 15px 30px;
  background-color: #1a304e;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  position: fixed;
  top: 20px;
  left: 20px;
  border-radius: 50px;
  width: fit-content;
}

li a 
{
font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: garamond, serif;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 30px;
  transition: background-color .5s;
}

li a:hover 
{
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  color:rgb(26, 48, 78)
}

html 
{
    background-image: url('https://i.pinimg.com/736x/21/ea/04/21ea04c97a6072fd04db4318f99c57b4.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position-y: -375px;
    margin: 0;
    padding: 0;
}

.container
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.maggie, .geanne {
    overflow: auto;
    gap: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(26, 48, 78);
    font-size: 20px;
    margin-top: 120px;
    margin-left: 60px;
}

.funfacts-img {
    float: left;
    width: 160px;
    margin-right: 15px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.name {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-left: 30px;
    margin-right: 10px;
}

.info {
    clear: left;
    margin-top: 10px;
}

.platypus
{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    z-index: 999;
}
