ul
{
  list-style-type: none;
  margin: 17px;
  padding: 15px 30px;
  background-color: #1a304e;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  position: fixed;
  top: 20px;
  left: 20px;
  border-radius: 50px;
  width: fit-content;
}

li a 
{
font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: garamond, serif;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 30px;
  transition: background-color .5s;
}

li a:hover 
{
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  color:rgb(26, 48, 78)
}

html 
{
    background-image: url('https://i.pinimg.com/1200x/8d/96/6d/8d966d8a3f5054b1421449e93859225c.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position-y: -280px;
    margin: 0;
    padding: 0;
}

body::before 
{
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.57);
    pointer-events: none;
    z-index: -1;
}

.casefiles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.content {
    text-align: center;
    font-family: "Copperplate", "Copperplate Gothic Light";
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin: 45px;
    margin-top: 120px;
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;
    z-index: 1;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
}

.casefile1, .casefile2, .casefile3
{
    margin: 20px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color:#1a304e
}

.content h1 {
    font-family: "Copperplate", "Copperplate Gothic Light";
    color: #ffffff;                         
}