ul
{
  list-style-type: none;
  margin: 17px;
  padding: 15px 30px;
  background-color: #1a304e;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  position: fixed;
  top: 20px;
  left: 20px;
  border-radius: 50px;
  width: fit-content;
}

li a 
{
font-size: 25px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: garamond, serif;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 30px;
  transition: background-color .5s;
}

li a:hover 
{
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  color:rgb(26, 48, 78)
}

html 
{
    background-image: url('https://i.pinimg.com/736x/54/81/04/54810434339d93d765eb60d5b6e3eb9c.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position-y: -200px;
    margin: 0;
    padding: 0;
}

body::before 
{
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.57);
    pointer-events: none;
    z-index: -1;
}

.content {
    text-align: left;
    font-family: "Copperplate", "Copperplate Gothic Light";
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin: 45px;
    margin-top: 150px;
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;
    z-index: 1;
    padding: 45px;
    border-radius: 15px;
}


.content h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;                         
}

.platypus
{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    z-index: 999;
}