ul
{
  list-style-type: none;
  margin: 1rem;
  padding: 1rem 2rem;
  background-color: #1a304e;
  display: flex;
  justify-content: flex-start;
  gap: 1.25rem;
  position: fixed;
  top: 1.25rem;
  left: 1.25rem;
  border-radius: 3rem;
  width: fit-content;
  z-index: 1000;
}

li a 
{
font-size: 1.6rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: garamond, serif;
  font-weight: bold;
  padding: .3rem .6rem;
  border-radius: 2rem;
  transition: background-color .5s;
}

li a:hover 
{
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
  color:rgb(26, 48, 78)
}

html 
{
    background-image: url('https://i.pinimg.com/736x/54/81/04/54810434339d93d765eb60d5b6e3eb9c.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position-y: -12.5rem;
    margin: 0;
    padding: 0;
}

body::before 
{
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.57);
    pointer-events: none;
    z-index: -1;
}

.content {
    text-align: left;
    font-family: "Copperplate", "Copperplate Gothic Light";
    color: rgb(255, 255, 255);
    font-size: 1.125rem;
    margin: 2.813rem;
    margin-top: 9.375rem;
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;
    z-index: 1;
    padding: 2.813rem;
    border-radius: .938rem;
}


.content h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;                         
}

.platypus
{
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    width: 12.5rem;
    z-index: 999;
}

h4
{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(26, 48, 78);
  font-size: 0.875rem;
  text-align: center;
}